<div class="main-container">
    <div class="main wrapper clearfix">
<article>
    <section class="sec">
        <h2>H1B Visa for Teachers</h2>
        <div class="entry"> 
                <p>We receive many requests from School Districts who wish to file a new H-1B Visa petition for a prospective Teacher.</p>
<p>Unfortunately the H-1B visas are used up very quickly. This year the <a href="http://www.usavisanow.com/uscis-reaches-fy-2015-h-1b-cap/">annual quota of 85,000 was used up in 5 days.</a></p>
<p>If you are a School District Administrator and wish to file a Cap Exempt New H-1B Visa for a Teacher who has not been in H-1B status for the past 6 years, you must be able to prove that you are exempt from the annual numerical H-1B cap/quota.</p>
<p><strong>There are certain School Districts who are exempt from the annual numerical H-1B cap/quota.</strong></p>
<p style="padding-left: 30px;">In order to <a href="http://www.usavisanow.com/h-1b-cap-exemptions-based-on-relation-or-affiliation/">qualify for this exemption</a> to the annual numerical H-1B cap/quota, USCIS requires that the petitioning School District must be able to prove the following:</p>
<p style="padding-left: 60px;">1) The School District must be a not for profit entity.</p>
<p style="padding-left: 60px;">2) The School District must have an Affiliation Agreement with a University.</p>
<p><strong>We also receive many requests from Teachers in H-1B status who wish to transfer to a different school district.</strong></p>
<p style="padding-left: 30px;">This requires that an H-1B Transfer petition be filed with USCIS.</p>
<p style="padding-left: 30px;">If you are a Teacher in H-1B status, or a School District Administrator and wish to file an H-1B Visa Transfer petition for a Teacher who is in H-1B status, one of the following two conditions must be met:</p>
<p style="padding-left: 60px;"><strong>1) The Teacher holding the H-1B Visa must have previously been filed as cap exempt by virtue of the Numerical Limitation Exemption through University Affiliation.</strong></p>
<p style="padding-left: 90px;">This can be proven by showing the <a href="http://www.uscis.gov/sites/default/files/files/form/i-129.pdf">USCIS Form I-129 H-1B Data Collection and Filing Fee Exemption Supplement</a> that was filed with USCIS (page 19).</p>
<p style="padding-left: 90px;">Page 19, Part C, Letter B would have to be checked as Yes.</p>
<p style="padding-left: 60px;">or,</p>
<p style="padding-left: 60px;"><strong>2) The petitioning School District has been determined to be exempt from the annual numerical H-1B cap/quota.</strong></p>
<p style="padding-left: 90px;">There are certain School Districts who are exempt from the annual numerical H-1B cap/quota.</p>
<p style="padding-left: 90px;">In order to qualify for this exemption to the annual numerical H-1B cap/quota the petitioning School District must be able to prove the following:</p>
<p style="padding-left: 120px;">1) The School District must be a not for profit entity.</p>
<p style="padding-left: 120px;">2) The School District must have an Affiliation Agreement with a University.</p>
<p><span style="color: #000000;">Click here for a <a href="http://www.usavisanow.com/wp-content/uploads/2009/03/Cap-Exemption-for-School-Districts1.doc" target="_blank">sample Affiliation Agreement between a University and School District.</a></span></p>
<p><span style="font-weight: 400;">New USCIS Rule Regarding Cap Exempt for Not for Profits via University Affiliation Agreement. Effective 01/17/2017</span></p>
<p><span style="font-weight: 400;">Until now, the USCIS has insisted on an affiliation based on shared ownership or control by the same board or federation, or where the nonprofit is attached to the university as a member, branch, cooperative or subsidiary.</span></p>
<p><span style="font-weight: 400;">The new rule states that as an alternative to the shared ownership or control option the employer may submit evidence of a written affiliation agreement with an institution of higher education.</span></p>
<p><span style="font-weight: 400;">Qualifying can be demonstrated by presenting evidence that the “nonprofit entity has entered into a formal written affiliation agreement with an institution of higher education that establishes an active working relationship between the nonprofit entity and the institution of higher education for the purposes of research or education, and a fundamental activity of the nonprofit entity is to directly contribute to the research or education mission of the institution of higher education.” </span></p>
<p><strong><span style="text-decoration: underline;">Applying for a 3 year renewal when a 1 year temporary license is issued:</span></strong></p>
<p style="padding-left: 30px;">Admission and Extension for H-1B—8 C.F.R. §§214.2(h)(9), (13), (15).</p>
<p style="padding-left: 30px;">CIS officers should not be arbitrarily limiting approvals to time period left on professional license when such license, e.g., teaching, is renewable. Letter, Brown, Acting Chief, NIV Branch, Adjudications, CO 214h-C (July 14, 1995), reprinted in 72 No. 31 Interpreter Releases 1093, 1109-10 (Aug. 14, 1995).</p>
<p><strong>Nonprofit Religious Organizations</strong></p>
<p style="padding-left: 30px;">In a non-precedent 8/9/10 decision, AAO reversed CSC denial of H-1B visa for a <span style="text-decoration: underline;">nonprofit religious organization</span>, finding that petitioner met H-1B cap-exempt status requirements as a nonprofit entity related to an institution of higher education. <a title="nonprofit religious organization" href="http://www.usavisanow.com/wp-content/uploads/2009/03/8-9-10.pdf" target="_blank">Click here for a copy of the decision</a>.</p>
<p><strong>Jobs for H-1B Visa Teachers:</strong></p>
<p style="padding-left: 30px;">Click here for a list of School Districts that have sponsored H-1B Visas for Teachers: <a href="http://visasforteachers.org/">http://visasforteachers.org/</a></p>

                                            </div>
    </section>
    <section class="sec">
        <h2>Stage III</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
    <section class="sec">
        <h2>Stage IV</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
    <section class="sec">
        <h2>Stage V</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
</article>
<aside class="sec aside">
    <h3 class='h5'>Sample Affiliation Agreement between a University and School District:</h3>
    <ul>
       <li><a href="documents/sample1.doc" target="_blank">Sampe Document # 1</a></li>
       <li><a href="documents/sample2.docx" target="_blank">Sampe Document # 2</a></li>
       <li><a href="documents/sample3.doc" target="_blank">Sampe Document # 3</a></li>
    </ul>
    <h3 class='h5 school'>School Districts that have sponsored H-1B Visas for Teachers: </h3>
    <p class="click">Click the following link...</p>
    <a href="http://visasforteachers.org/teachers/h-1b-employers/south-carolina-school-districts-who-have-filed-h-1b-petitions/" target="_blank"><strong class="link">http://visasforteachers.org</strong></a>
</aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <span>Copyright</span>&nbsp;&copy; <script>new Date().getFullYear()>2010&&document.write(+new Date().getFullYear());</script>&nbsp; <span>Venky</span>
    </footer>
</div>