<div class="main-container">
    <div class="main wrapper clearfix">
<article>
  <section class="sec">
    <h2>H1B Visa for Teachers</h2>
    <div class="entry"> 
      <p>USCIS receives many requests from the employers who wish to file a new H-1B Visa petition for a prospective employee.Unfortunately the H-1B visas are used up very quickly. 
      <p>If a School District wants to file a Cap Exempt New H-1B Visa for a Teacher who has not been in H-1B status for the past 6 years, then the School District must be able to prove that you are exempt from the annual numerical H-1B cap/quota.</p>
     <p><strong>There are certain School Districts who are exempt from the annual numerical H-1B cap/quota.</strong></p>
     <p class="thirty">In order to qualify for this exemption to the annual numerical H-1B cap/quota, USCIS requires that the petitioning School District must be able to prove the following:</p>
    <p class="sixty">1) The School District must be a not for profit entity.</p>
    <p class="sixty">2) The School District must have an Affiliation Agreement with a University.</p>
    <p><strong>If a Teacher on H-1B visa status, who wish to transfer to a different school district.</strong></p>
    <p class="thirty">For this to happen, one of the following two conditions must be met:</p>
    <p class="sixty"><strong>1) The Teacher holding the H-1B Visa must have previously been filed as cap exempt by virtue of the Numerical Limitation Exemption through University Affiliation.</strong></p>
    <p class="sixty"><strong>2) The petitioning School District has been determined to be exempt from the annual numerical H-1B cap/quota.</strong></p>
    <p class="ninty">There are certain School Districts who are exempt from the annual numerical H-1B cap/quota.In order to qualify for this exemption to the annual numerical H-1B cap/quota the petitioning School District must be able to prove the following:</p>
    <p class="one-two">1) The School District must be a not for profit entity.</p>
    <p class="one-two">2) The School District must have an Affiliation Agreement with a University.</p>
    <p><span class="font">The new rule states that as an alternative to the shared ownership or control option the employer may submit evidence of a written affiliation agreement with an institution of higher education.</span></p>
    <p><span class="font">Qualifying can be demonstrated by presenting evidence that the “nonprofit entity has entered into a formal written affiliation agreement with an institution of higher education that establishes an active working relationship between the nonprofit entity and the institution of higher education for the purposes of research or education, and a fundamental activity of the nonprofit entity is to directly contribute to the research or education mission of the institution of higher education.” </span></p>
  </div>
  </section>
    <section class="sec">
        <h2><a href="https://www.usavisanow.com/contact-us/">USAVISANOW</a></h2>
        <p><address>
          Taylor and Associates Law. P.C.<br>
          40 West 37th Street, Suite 503<br>
          New York, NY 10018<br>
          <p><strong>Telephone: 888.645.6272</strong></p>
        </address></p>
    </section>
    <!-- <section class="sec">
        <h2>Stage IV</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
    <section class="sec">
        <h2>Stage V</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section> -->
</article>
<aside class="sec aside">
    <h3 class='h5'>Sample Affiliation Agreement between a University and School District:</h3>
    <ul>
       <li><a href="documents/sample1.doc" target="_blank">Sampe Document # 1</a></li>
       <li><a href="documents/Sample2.docx" target="_blank">Sampe Document # 2</a></li>
       <li><a href="documents/sample3.doc" target="_blank">Sampe Document # 3</a></li>
    </ul>
    <h3 class='h5 school'>School Districts that have sponsored H-1B Visas for Teachers: </h3>
    <p class="click">Click the following link...</p>
    <a href="http://visasforteachers.org/teachers/h-1b-employers/south-carolina-school-districts-who-have-filed-h-1b-petitions/" target="_blank"><strong class="link">http://visasforteachers.org</strong></a>
</aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
         <footer class="wrapper">
         <span>Copyright</span>&nbsp;&copy;&nbsp;<span>2018 Venky. All Rights Reserved</span>       
         <script>document.write(new Date().getFullYear());</script>&nbsp; 
    </footer>
</div>
 