<div class="main-container">
    <div class="main wrapper clearfix">
<article>
    <header class="sec">
        <h1>J1 visa two year rule</h1>
        <p>If your J1 visa reads “Bearer is subject to section 212(E). Two years rule does apply,” then you are supposed to get a waiver from your home country.</p>
    </header>
    <section class="sec">
    <a href="stage1.html">
        <h2>Stage I</h2>
        <p>
            <ul>
                 <li>The first step is to obtain a “No Objection Statement from home country”</li> 
                 <li>The forms can be downloaded from the following Indian Embassy links</li>
                 <li>Take four copies of the form (Each form has three pages.The first page is the instruction page.</li>
                 <li>Keep it safe and read carefully. Fill out the forms, get notarized, and send to the Indian Embassy along with the following items:</li>
            </ul>
        </p>
    </a>
    </section>
    <section class="sec">
        <h2>Stage II</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
    <section class="sec">
        <h2>Stage III</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
    <section class="sec">
        <h2>Stage IV</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
    <section class="sec">
        <h2>Stage V</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
    </section>
    <footer>
        <h3>article footer h3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
    </footer>
</article>

<aside class="sec">
    <h3>About 2 year rule..</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
</aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <span>Copyright</span>&nbsp;&copy; <script>new Date().getFullYear()>2010&&document.write(+new Date().getFullYear());</script>&nbsp; <span>Venky</span>
    </footer>
</div>    