<div class="main-container">
    <div class="main wrapper clearfix">
<article>
    <header class="sec">
        <h1>J1 visa two year rule</h1>
        <p>Certain J1 Visa holders are subject to a two-year home-country physical presence requirement which requires them to return to their home country for at least two years at the end of the program. This is also known as the foreign residence requirement under U.S. law, Immigration and Nationality Act, Section 212(e). If you choose to change your visa status or seek employment, you must obtain a waiver approved by the Department of Homeland Security prior to changing status in the United States.</p>
    </header>
    <section class="sec">
    <h2>Stage I</h2>
    <p>
         <p>The first step is to obtain a “No Objection Statement from home country. Miscellaneous Services Form - Download the Miscellaneous Application form and complete the application form.</p>
            <ul>
                <li><strong><a href="documents/washingtonDC.pdf" target="_blank" id='orange'>Form:Indian Embassy - Washington DC.</a></strong></li>
                <li ><strong><a href="documents/newYork.pdf" id='new'>Form: Indian Embassy - New York.</a></strong></li>
                <li><strong><a href="documents/Atlanta.pdg" target="_blank" id='green'>Form:Indian Embassy - Atlanta.</a></strong></li>

            </ul>
         </p>
         <p><strong>Attach the following documents with the application form.</strong></p>
         <p>Current Indian passport in original and photocopy of the first five pages and last two pages of the current passports.</p>
         <p>Photocopy of the page containing  j1 visa on passport and copy of I-94</p>
         <p>Proof of current US residence address:<p>
            <ul class='stage'><li>U.S Driving license.</li>
                 <li>Gas, Electricity, Water or landline telephone bill displaying applicant’s address</li>
                 <li>House Lease Agreement</li>
                 <li>State Identification Card</li>
            </ul>
            
        <p>Note: Bank/credit card/mobile phone statements are not accepted as residence proof</p>
        <p><strong>Keep it safe and read carefully. Fill out the forms, get notarized, and send to the Indian Embassy along with the following items:</strong></p>
        <ul>
            <li>Complete the NORI form(both parts):</li>
            <li>Bio data-pdf file</li>
            <li>Affidavit - pdf file :Notarized all 6 originals.</li>
            <li>Submit all 6 originals (notarized)  and 2 photocopies.</li>
            <li>Fee of Sixty Dollars($60).</li>
        </ul>
        
    </p>
       

    </section>
    <section class="sec">
        <h2>Stage II</h2>
        <p>Once you receive attested forms from the Embassy  of India, send two originals each to the following  address and also please read very carefully the covering letter from the Indian Embassy which will provide you addresses of the indian offices where you need to send your documents.</p>
        <ul class='stage'>
         <li>The Regional Passport Office-Where your Indian passport was issued.</li></br>
         <li>The Home Department of State in India you belong to.</li></br>
         <li><address>The Department of Education,<br>Ministry of Human Resource Department,<br>
                      ES-5 Division, External Scholar Ship Division.,<br>
                      2nd floor, Wing-6, West Block -1, R.K. Puram, Delhi- 110 066<br>
            </address>.
         </li>

        </ul>
        <p><a href="documents/otherSates.docx" target="_blank"><strong>Click here for the Indian Offices Addresses</a></strong></p>
        <p>**Most of the time the passport offices from India will mail the letter directly to the Indian Embassy where you had applied. If you have not received anything within three to four months from the Indian passport office. Check with Indian Embassy and find out the reasons.</p>
    </section>
    <section class="sec">
        <h2>Stage III</h2>
        <p>Mean while, Complete the  <strong><a href="https://j1visawaiverrecommendation.state.gov/accessController.asp?page=7&handler=true" target="_blank">Online Form DS-3035</a></strong> application, available on the J Visa Waiver Online webpage, following the online instructions. You must use the online form. They are not accepting any other version of Form DS-3035.</p>
    </section>
    <section class="sec">
        <h2>Stage IV</h2>
        <p>Once you have received all the three letters from India and Case Number from US Department, send the following item to Indian Embassy where you applied.</p>
        <ul class='stage'>
            <li>Photo copy of all the three letters.</li>
            <li>Original passport.</li>
            <li>Miscellaneous form with passport size photo.</li>
            <li>Fees for the NORI certificate.</li>
            <li>Fees to return your original passport.</li>
            <li>Photocopy of the case number received from US Department of State.</li>
        </ul>
        <p>You will receive a copy of “No Objection Statement” from the Indian embassy. 
        The original should be send to the US Department of State. The Indian Embassy automatically sends the original to the US Department of State.</p>
    </section>
    <section class="sec">
        <h2>Stage V</h2>
        <p>You will receive the case number and instruction sheet instructing you what to do next within 2 - 3weeks. 
        If the Waiver Review Division needs further information or additional documents from you, they will contact you using the contact information you provided on your online Form DS-3035.
        <p>Once you sent the items to the US Department of state, You can check the your  <a href="https://j1visawaiverstatus.state.gov/" target="_blank"><strong>J1 Visa Waiver Application Status Here.</strong></a></p>
    </section>
    <section class="sec">
        <h2>Stage VI</h2>
        <p>At the conclusion of the review process, the Department of State, Waiver Review Division will forward their recommendation directly to USCIS. You will also receive a copy of a recommendation. In worst case, if they do not recommend to the USCIS that you will be granted a waiver, you will receive a copy of the unfavorable waiver recommendation that is sent to the USCIS.</p>
        <p>USCIS will make the final determination on your waiver request. USCIS will decide whether your waiver application is approved or denied and will notify you directly.</p>
    </section>
    <!-- Face Book Comments -->
            <section class="sec">
                <div class="fb-comments" data-href="http://localhost:8080/introduction" data-width="75%" data-numposts="10"></div>
            </section>
</article>
<aside class="sec">
    <!-- <div class="pic text-center">
        <img class='img-circle' src="img/venky.jpg">
    </div> -->
    <div class="separate"></div>
    <h3>J1 Visa and Green Card</h3>
    <p><a href="http://www.greencardapply.com/j1/j1_waiver1.htm">Click here to know more about Green Card Process during the J1 Visa Period.</a></p>
</aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
    <span>Copyright</span>&nbsp;&copy;&nbsp;<span>2018 Venky. All Rights Reserved</span>        
    <script>document.write(new Date().getFullYear());</script>&nbsp; 
    </footer>
</div>
 