<div class="main-container">
    <div class="main wrapper clearfix">
<article>
    <section class="sec">
        <h2>Praxis - PLT</h2>
        <p>Coming Soon....</p>
    </section>
    <section class="sec">
        <h2>Praxis - Math Notes</h2>
        <p>Coming Soon....</p>
    </section>
    <section class="sec">
        <h2>Praxis - Science</h2>
        <p>Coming Soon....</p>
    </section>
    <section class="sec">
        <h2>Praxis - Special Education</h2>
        <p>Coming Soon...</p>
    </section>
</article>
<!-- <aside class="sec">
    <h3>Sample Affiliation Agreement between a University and School District.:</h3>
    <ul>
       <li><a href="documents/sample1.doc" target="_blank">Sampe Document # 1</a></li>
       <li><a href="documents/sample2.docx" target="_blank">Sampe Document # 2</a></li>
       <li><a href="documents/sample3.doc" target="_blank">Sampe Document # 3</a></li>
    </ul>
    <h3>School Districts that have sponsored H-1B Visas for Teachers: </h3>
    <p><strong>Click the following link:</strong></p>
    <a href="http://visasforteachers.org/teachers/h-1b-employers/south-carolina-school-districts-who-have-filed-h-1b-petitions/" target="_blank">http://visasforteachers.org</a>
</aside> -->
  </div> <!-- #main -->
</div> <!-- #main-container -->
<div class="footer-container">
    <footer class="wrapper">
        <span>Copyright</span>&nbsp;&copy; <script>new Date().getFullYear()>2010&&document.write(+new Date().getFullYear());</script>&nbsp; <span>Venky</span>
    </footer>
</div>
