<div class="main-container">
    <div class="main wrapper clearfix">
<article>
    <section class="sec">
      <h2>Praxis - PLT</h2>
      <ul>
        <li><a href="documents/StudyGuide.pdf" target='_blank'>PLT Study Guide-1</a></li>
        <li><a href="documents/StudyGuide.pdf-2" target='_blank'>PLT Study Guide-2</a></li>
        <li><a href="documents/studentLearner.pdf" target='_blank'>PLT Students as Learners</a></li>
        <li><a href="documents/VOCABULARY.docx" target='_blank'>PLT Vocabulary</a></li>
        <li><a href="documents/learningProcess.pdf"" target='_blank'>Student Development and Learning Process</a></li>
        <li><a href="documents/sampleQuestions.pdf"" target='_blank'>Sample Questions</a></li>
      </ul>
      <p>Adding more...</p>
    </section>
    <section class="sec">
        <h2>Praxis - Math Notes</h2>
        <p>Coming Soon....</p>
    </section>
    <section class="sec">
        <h2>Praxis - Science</h2>
        <p>Coming Soon....</p>
    </section>
    <section class="sec">
        <h2>Praxis - Special Education</h2>
        <p>Coming Soon...</p>
    </section>
</article>
<aside class="sec praxis">
    <h3>Steps to Register Praxis Tests:</h3>
    <ul>
        <li><a href="https://www.ets.org/portal/site/iserpraxis/menuitem.1b7fdbe6788d618e6c41265a7beb1509" target="_blank">Create a Praxis account here</a></li>
        <li><a href="https://www.ets.org/praxis/states" target='_blank'>Check your state requirement here</a></li>
        <li><a href="https://www.ets.org/praxis/about/fees" target='_blank'>Know your fee and register for the Test here</a></li>
    </ul>
</aside>
  </div> <!-- #main -->
</div> <!-- #main-container -->
<div class="footer-container">
    <footer class="wrapper">
        <footer class="wrapper">
        <span>Copyright</span>&nbsp;&copy;&nbsp;<span>2018 Venky. All Rights Reserved</span>
        <script>document.write(new Date().getFullYear());</script>&nbsp; 
    </footer>
</div>
 